<footer class="footer">
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.instagram.com/vivekmishra77056/">
                <i class="fa-brands fa-square-instagram "></i>
            </a>
            <a href="https://www.facebook.com/profile.php?id=61566438119877">
                <i class="fa-brands fa-square-facebook"></i>
            </a>
            <a href="https://www.linkedin.com/in/vivek-mishra-b3716b259?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">
                <i class="fa-brands fa-linkedin"></i>
            </a>
        </div>
        <div class="f-info-brand">&copy;Wonderland Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">privacy</a>
            <a href="/terms">terms</a>
        </div>
    </div>
</footer>